<mat-sidenav-container>
    <mat-sidenav mode="overlay" [opened]="menuIsOpened" position="end">Aqui tem um meno</mat-sidenav>
    <mat-sidenav-content>
        <div class="manage">
            <div class="manage__header">

                <div class="manage__header-container">

                    <button mat-flat-button color='warn'>
                        <mat-icon>person</mat-icon>
                    </button>

                    <div class="manage__header-divisor"></div>

                    <button mat-flat-button color='light'>
                        <mat-icon>security</mat-icon>
                    </button>

                    <button mat-flat-button color='warn'>
                        <mat-icon>person</mat-icon>
                    </button>

                    <div class="manage__search">
                        <mat-form-field>
                            <mat-label>Pesquisar</mat-label>
                            <input matInput placeholder="Pesquisar...">
                        </mat-form-field>
                    </div>

                </div>

                <div class="manage__header-container manage__header-container--right">
                    <button mat-flat-button color='light' (click)="menuIsOpened = true">
                        <mat-icon>sort</mat-icon>
                    </button>
                    <button mat-flat-button color='primary'>
                        <mat-icon>person</mat-icon>
                        Adicionar Usuário
                    </button>
                    <div class="manage__header-divisor"></div>
                    <button mat-icon-button color='dark'>
                        <mat-icon>home</mat-icon>
                    </button>
                    <button mat-icon-button color='dark'>
                        <mat-icon>settings</mat-icon>
                    </button>
                    <button mat-icon-button color='dark'>
                        <mat-icon>power_settings_new</mat-icon>
                    </button>
                </div>
            </div>

            <div class="manage__table">
                <app-manager-table></app-manager-table>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>